/////////////////////////////////////////////////
/* DECLARANDO VARIABLES */
////////////////////////////////////////////////

$principal: rgb(240, 215, 171);
$principalDark: rgb(0, 0, 0);

$secundario: rgb(235, 174, 68);
$secundarioDark: rgb(140, 138, 158);

$boton:  rgb(219, 105, 12);
$botonDark: rgb(84, 115, 155);


/////////////////////////////////////////////////
/* MODIFICANDO VARIABLES */
////////////////////////////////////////////////

$primary: $principal;
$secondary: $boton;
$btn-border-radius: 10px;



/////////////////////////////////////////////////
/* importar bootstrap */
////////////////////////////////////////////////

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
/* -.-.-.-.-.-.-.-.-.-.-.-.-.Body.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */

body {
    margin: 0 px;
    background: $principal;
    transition: 1s ease all;
    &.dark{
        background: $principalDark;
        .bg-nav {
            background-color: $secundarioDark;
        }
    }
}
.container .navbar .container .nav-item a:hover {
    color: black;
    background-color: $secundario;
    border: solid rgb(110, 70, 50);
    border-radius: 1rem;
    margin-top: 1rem;
    transition: all 0.5s ease;
    body.dark & {
        color: black;
    background-color: $secundarioDark;
    border: solid rgb(39, 38, 37);

    
    }
 
}
@media (hover: hover) {
.container .navbar .container .nav-item a:active {
    background-color:  rgb(209, 149, 119);
    body.dark &{
        background-color:  rgb(204, 196, 192);
    }
}
}

/* -.-.-.-.-.-.-.-.-.-.-.-.-.NavBar.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */


.bg-nav {
    background-color: $secundario;
    border-radius: 1rem;
    padding-bottom: 2rem;
}

.icon {
    border-radius: 0.3rem;
        
}

.text {
margin-top: 1rem;
}


/* -.-.-.-.-.-.-.-.-.-.-.-.-.Background.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
.bg {
    margin-top: 1.5rem;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    /* filter: blur(5px); */
    
    
}
.home {
    background-image: url(../Img/BannerFox.jpg);
    body.dark & {
        background-image: url(../Img/BannerFoxDark.jpg);
        
    }
}


/* -.-.-.-.-.-.-.-.-.-.-.-.-.Switch.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
.switch {
    background: rgb(207, 141, 7);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin-right: 10px;
    
    &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: $botonDark;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,2);
    }
    
    &.active {
        background: rgb(209, 209, 208);
        color: black;
        

        &::after {
            right: 0;
            left: unset;
            
        }
    }     
} 
             

span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: white;
    body.dark & {
        color: black;
        
    }
}

/* -.-.-.-.-.-.-.-.-.-.-.-.-.Section.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
.container {
    margin-top: 2rem;
}


.cont-row {
    background-color: antiquewhite;
    border-radius: 1.5rem;
    padding-left: 4rem;
    body.dark & {
        background-color: rgb(27, 26, 26);
        
    }
    
}
.custom-section { 
    padding-top: 2rem;
    width: 18rem;
    height: 18rem;
}
.card-body {
    padding: 2rem 1rem;
}

.img-card {
    width: 100%;
    height: 100%;  
    border-radius: 2rem;
    border: solid rgb(70, 64, 15) 3px;
}

.card-title {
    font-family: 'Nanum Gothic';
    text-align: center;
    text-shadow: rgb(10, 6, 3) 3px 2px 4px;
    font-size: larger;
    font-style: italic;
    color: rgb(0, 0, 0);
    body.dark & {
        color: rgb(202, 195, 195);
        text-shadow: rgb(236, 128, 128) 3px 2px 4px;
    }
}
.card-text {
    font-family: 'Nanum Gothic';
    padding: 1rem;
    margin: 1rem;
    font-size: larger;
    color: rgb(110, 70, 0);
    body.dark & {
        color: rgb(90, 90, 120);
    }

}
/* -.-.-.-.-.-.-.-.-.-.-.-.-.Quien soy?.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
.img-perfil {
    max-width: 15rem;
    height: auto;
    padding: 7px;
    margin: 2rem;
    border-radius: 1rem;
    border: solid grey 1px ;
}

.central-text {
    text-align: left; 
    color: rgb(110, 70, 0);
    font-family: 'Roboto';
    text-shadow: black 2px 1px 7px;
    body.dark & {
        color: rgb(90, 90, 120);
    }
}

footer {
    background-color: $secundario;
    border-radius: 1rem;
    padding: 1rem;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    width: auto;
    height: 3rem;
    
    body.dark & {
        background-color: $secundarioDark;
        color: white;
    }
}

    .separador{
        background-color: $secundario;
        text-shadow: rgb(10, 6, 3) 3px 2px 4px;
        border-radius: 15px;
        margin: 8rem;

        body.dark & {
            background-color: $secundarioDark;
            text-shadow: rgb(70, 68, 68) 3px 2px 4px;
        }
    }
    .sub-text {
        margin: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        font-weight: bold;
        font-family: 'Shizuru';
        body.dark & {
            color: white;
        }
    }
    
 