/* -.-.-.-.-.-.-.-.-.-.-.-.-.Body.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */

body {
    margin: 0 px;
    background: rgb(240, 210, 160);
}
/* -.-.-.-.-.-.-.-.-.-.-.-.-.NavBar.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */



/* -.-.-.-.-.-.-.-.-.-.-.-.-.Background.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
.bg {
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    filter: blur(8px);
}

.bg-text {
    color: rgb(240, 210, 160);
    font-weight: bold;
    border: 2px  rgb(240, 210, 160);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    
}
.home {
    background-image: url("Img/BannerFox.jpg");
    max-width: 100%;
    max-height: 100%;   
}
/* -.-.-.-.-.-.-.-.-.-.-.-.-.Switch.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
.switch {
     background: #343d5b;
     border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
margin-right: 2px;

}
span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: rgb(240, 210, 160);

}

/* -.-.-.-.-.-.-.-.-.-.-.-.-.Section.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
.container {
    margin-top: 2rem;
}
.custom-section { 
    padding-top: 2rem;
    width: 18rem;
    height: 18rem;
}
.card-body {
    padding: 2rem 1rem;
}

.img-card {
    width: 100%;
    height: 100%;  
}

.card-title {
    font-family: 'League Gothic', sans-serif;
}
.card-text {
    font-family: 'Ramaraja', serif;
}
/* -.-.-.-.-.-.-.-.-.-.-.-.-.Quien soy?.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
.img-perfil {
    max-width: 15rem;
    height: auto;
    padding: 7px;
    margin: 2rem;
    border-radius: 2rem;
}
.sub-text {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Shizuru';
}
.central-text {
    text-align: right;
    font-family: 'Red Hat Mono', monospace;
}

footer {
    background-color: rgb(230, 100, 60);
    padding: 20px 0px;
    color: white;
    margin-top: 40px;
}